<!DOCTYPE html>
<html>
    <head>
    <title>Auswertung</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <nav>
            <a href="/userHome">
                <img src="logo_aprg.png" id="logo" class="logo" alt="Logo">
              </a>
            <form action="/logOut" method="post">
                <button type="submit" id="logout-button">Abmelden</button>
            </form>
        </nav>
        <div class="main">
        <h1>Auswertung</h1>
        <%
        let richtigeAntworten = 0;
        for(let i = 0; i < aufgaben.length; i++){
            if(richtig[i] === "Richtig."){
                richtigeAntworten += 1;
            }
            %>

            <p>Aufgabe <%=i+1%>: <%=aufgaben[i]%> <br>
            Ihre Antwort: <%=benutzerAntworten[i]%> <br>
            Ihre Antwort ist <%=richtig[i]%> <br>
            <%if(richtig[i]==="Falsch."){
                %><p>Die richtige Antwort ist: <%=loesungen[i]%></p>
                <%
            }
            %>
            </p>
            
            <%
        }
        %>
        
        <p>Punkte: <%=richtigeAntworten%>/<%=aufgaben.length%></p>

        <form action="/select" method = "post">
            <button type="submit"id="main-buttons">Neuer Test</button>
        </form>

        <form action="/userHome" method="post"> 
            <button type="submit" id="main-buttons">Startseite</button>
        </form>
        
        </div>
    </body>      
</html>

