
<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
    <body>
        <nav>
            <a href="/userHome">
                <img src="logo_aprg.png" id="logo" class="logo" alt="Logo">
              </a>
            <form action="/logOut" method="post">
                <button type="submit" id="logout-button">Abmelden</button>
            </form>
        </nav>
        <div class="main">
        <form action="/auswertung" method="post">
        <%for(let i = 0; i < aufgaben.length; i++){
            %>
            <p>Aufgabe <%=i+1%>: <%=aufgaben[i].aufgabe%> <br></p>
            <input type="text" name="benutzerAntwort_<%=i%>">
            <input type="hidden" name="aufgabe_id_<%=i%>" value="<%=aufgaben[i].id%>">

            <%
            }
            %>
            <br>
            <input type="hidden" name="anzahlAufgaben" value="<%=aufgaben.length%>"><br>
            <button type="submit"id="main-buttons">Abgeben</button>
        </form>

        <form action="/select" method="post">
            <button type="submit"id="main-buttons">Test abbrechen</button>

        </form>
    </div>
    </body>
 
   

</html>